/*
*
* Lemonade v1.1 Copyright 2013, Joe Richardson lemonade.im MIT license
*
*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Set the width of the grid */
.row {
  width: 100%;
  margin: 0 auto;
}
/* Attribute selector */
[class*='col-'] {
  float: left;
  padding: 0.3em;
}
/* Floats last ".col-" to the right */
[class*='col-']:last-of-type {
  float: right;
}
/* Clearfix */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Main Widths */
.col-1 {
  width: 100%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 33.33333333333333%;
}
.col-4 {
  width: 25%;
}
.col-5 {
  width: 20%;
}
.col-6 {
  width: 16.66666666666667%;
}
.col-7 {
  width: 14.28571428571429%;
}
.col-8 {
  width: 12.5%;
}
.col-9 {
  width: 11.1111111111%;
}
.col-10 {
  width: 10%;
}
.col-11 {
  width: 9.09090909091%;
}
.col-12 {
  width: 8.33333333333333%;
}
.col-13 {
  width: 7.14285714285714%;
}
.col-14 {
  width: 7.69230769230769%;
}
.col-15 {
  width: 6.66666666666667%;
}
.col-16 {
  width: 6.25%;
}
/* Landscape mobile & down */
@media (max-width: 30em) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col-13,
  .col-14,
  .col-15,
  .col-16 {
    width: 100%;
  }
}
/* Portrait tablet till landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 33.33333333333333%;
  }
  .col-4 {
    width: 25%;
  }
  .col-5 {
    width: 20%;
  }
  .col-6 {
    width: 16.66666666666667%;
  }
  .col-7 {
    width: 14.28571428571429%;
  }
  .col-8 {
    width: 12.5%;
  }
  .col-9 {
    width: 11.1111111111%;
  }
  .col-10 {
    width: 10%;
  }
  .col-11 {
    width: 9.09090909091%;
  }
  .col-12 {
    width: 8.33333333333333%;
  }
  .col-13 {
    width: 7.14285714285714%;
  }
  .col-14 {
    width: 7.69230769230769%;
  }
  .col-15 {
    width: 6.66666666666667%;
  }
  .col-16 {
    width: 6.25%;
  }
}
/* Landscape till small desktop */
@media (min-width: 50em) and (max-width: 68.750em) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 33.33333333333333%;
  }
  .col-4 {
    width: 25%;
  }
  .col-5 {
    width: 20%;
  }
  .col-6 {
    width: 16.66666666666667%;
  }
  .col-7 {
    width: 14.28571428571429%;
  }
  .col-8 {
    width: 12.5%;
  }
  .col-9 {
    width: 11.1111111111%;
  }
  .col-10 {
    width: 10%;
  }
  .col-11 {
    width: 9.09090909091%;
  }
  .col-12 {
    width: 8.33333333333333%;
  }
  .col-13 {
    width: 7.14285714285714%;
  }
  .col-14 {
    width: 7.69230769230769%;
  }
  .col-15 {
    width: 6.66666666666667%;
  }
  .col-16 {
    width: 6.25%;
  }
}
