/vendor
/node_modules
.env
/app/Http/Controllers/.gitkeep
/laravel4/vendor/bin/boris
/laravel4/vendor/bin/classpreloader.php
/laravel4/vendor/bin/pscss
/laravel4/test/*
/app/storage/*
.idea/workspace.xml
