rounded_corners {
  border-radius: 3px;
}
.text_shadow {
  text-shadow: 0 -1px 1px rgba(255,255,255,0.8);
}
input {
  border: 1px solid #ccc;
  color: #aaa;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  margin: 0 0 20px;
  padding: 10px;
  width: 300px;
}
input.shadow_inset_top {
  box-shadow: 1px 4px 9px -6px rgba(0,0,0,0.5) inset;
}
input.shadow_bottom_white {
  box-shadow: 0 1px rgba(255,255,255,0.5);
}
input:focus {
  border: 1px solid #eea34a;
}
button {
  border: 1px solid #aaa;
  color: #333;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 15px 30px;
  text-transform: uppercase;
}
button.bg_gradient {
  background-image: -moz-linear-gradient(center top, #ddd, #aaa);
}
button.shadow_inset_top {
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
}
button.shadow_bottom {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
button.shadow_inset_top_shadow_bottom {
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset, 0 1px 2px rgba(0,0,0,0.2);
}
button:hover {
  background: none repeat scroll 0 0 #aaa;
}
form.bg {
  background: none repeat scroll 0 0 #eea34a;
  height: 40px;
  margin: 0 0 20px;
  padding: 20px;
  width: 325px;
}
