.select-style {
  padding: 0;
  margin: 0 19.5px 0 0 !important;
  border: 1px solid #ccc;
  width: 120px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("../../img/arrowdown.gif") no-repeat 95% 50%;
}
.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 0 0px;
  max-width: inherit;
}
.select-style select:focus {
  outline: none;
}
fieldset p {
  display: block;
  position: relative;
}
fieldset input[type=text],
fieldset input[type=email] {
  border: 1px solid #ccc;
  line-height: 20px;
  padding: 3px;
  width: 200px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
label + p,
input + p {
  margin-top: 20px;
}
p > input {
  padding: 0;
  margin: 0;
  height: 16px;
  width: 16px;
  float: left;
  position: absolute;
  left: 0;
  opacity: 0;
}
p > label {
  line-height: 16px;
  color: #333;
  padding: 0 0 0 22px;
}
fieldset[dir=rtl] p > label {
  padding: 0 18px 0 0;
}
p:not(#foo) > input + label {
  background: url("../../img/gr_custom-inputs.png") 0 -1px no-repeat;
  height: 16px;
  line-height: inherit;
}
p:not(#foo) > input[type=radio] + label {
  background-position: 0 -161px;
}
p:not(#foo) > input[type=radio]:checked + label {
  background-position: 0 -241px;
}
p:not(#foo) > input[type=checkbox]:checked + label {
  background-position: 0 -81px;
}
p:not(#foo) > input[type=checkbox]:hover:checked + label,
p:not(#foo) > input[type=checkbox]:focus:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover,
p:not(#foo) > input[type=checkbox]:focus:checked + label {
  background-position: 0 -101px;
}
p:not(#foo) > input[type=radio]:hover:checked + label,
p:not(#foo) > input[type=radio]:focus:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover,
p:not(#foo) > input[type=radio]:focus:checked + label {
  background-position: 0 -261px;
}
p:not(#foo) > input[type=checkbox]:hover + label,
p:not(#foo) > input[type=checkbox]:focus + label,
p:not(#foo) > input[type=checkbox] + label:hover {
  background-position: 0 -21px;
}
p:not(#foo) > input[type=radio]:hover + label,
p:not(#foo) > input[type=radio]:focus + label,
p:not(#foo) > input[type=radio] + label:hover {
  background-position: 0 -181px;
}
p:not(#foo) > input[type=checkbox]:active + label,
p:not(#foo) > input[type=checkbox] + label:hover:active {
  background-position: 0 -41px;
}
p:not(#foo) > input[type=radio]:active + label,
p:not(#foo) > input[type=radio] + label:hover:active {
  background-position: 0 -201px;
}
p:not(#foo) > input[type=checkbox]:active:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover:active {
  background-position: 0 -121px;
}
p:not(#foo) > input[type=radio]:active:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover:active {
  background-position: 0 -281px;
}
p:not(#foo) > input[type=checkbox]:disabled + label,
p:not(#foo) > input[type=checkbox]:hover:disabled + label,
p:not(#foo) > input[type=checkbox]:focus:disabled + label,
p:not(#foo) > input[type=checkbox]:disabled + label:hover,
p:not(#foo) > input[type=checkbox]:disabled + label:hover:active {
  background-position: 0 -61px;
}
p:not(#foo) > input[type=radio]:disabled + label,
p:not(#foo) > input[type=radio]:hover:disabled + label,
p:not(#foo) > input[type=radio]:focus:disabled + label,
p:not(#foo) > input[type=radio]:disabled + label:hover,
p:not(#foo) > input[type=radio]:disabled + label:hover:active {
  background-position: 0 -221px;
}
p:not(#foo) > input[type=checkbox]:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:hover:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:focus:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover,
p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover:active {
  background-position: 0 -141px;
}
p:not(#foo) > input[type=radio]:disabled:checked + label,
p:not(#foo) > input[type=radio]:hover:disabled:checked + label,
p:not(#foo) > input[type=radio]:focus:disabled:checked + label,
p:not(#foo) > input[type=radio]:disabled:checked + label:hover,
p:not(#foo) > input[type=radio]:disabled:checked + label:hover:active {
  background-position: 0 -301px;
}
fieldset[dir=rtl] p > input {
  left: auto;
  right: 0;
}
fieldset[dir=rtl] p:not(#foo) > input + label {
  background-position: 100% -161px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio] + label {
  background-position: 100% -161px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:checked + label {
  background-position: 100% -241px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:checked + label {
  background-position: 100% -81px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:hover:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:focus:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:checked + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:focus:checked + label {
  background-position: 100% -101px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:hover:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:focus:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:checked + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:focus:checked + label {
  background-position: 100% -261px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:hover + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:focus + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox] + label:hover {
  background-position: 100% -21px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:hover + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:focus + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio] + label:hover {
  background-position: 100% -181px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:active + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox] + label:hover:active {
  background-position: 100% -41px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:active + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio] + label:hover:active {
  background-position: 100% -201px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:active:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:checked + label:hover:active {
  background-position: 100% -121px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:active:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:checked + label:hover:active {
  background-position: 100% -281px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:hover:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:focus:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled + label:hover:active {
  background-position: 100% -61px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:hover:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:focus:disabled + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled + label:hover:active {
  background-position: 100% -221px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:hover:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:focus:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover:active {
  background-position: 100% -141px;
}
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:hover:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:focus:disabled:checked + label,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled:checked + label:hover,
fieldset[dir=rtl] p:not(#foo) > input[type=radio]:disabled:checked + label:hover:active {
  background-position: 100% -301px;
}
form {
  margin: 0 0 18px;
}
form label {
  cursor: pointer;
  line-height: 2.235rem;
}
form dt {
  margin: 0;
}
form textarea {
  height: 150px;
}
form ul,
form ul li {
  list-style-type: none;
  margin-left: 0;
}
form fieldset {
  padding: 0 1.5625rem 1.5625rem;
  margin: 0 2px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #666;
}
form fieldset legend {
  padding: 5px 10px;
}
form.row {
  margin-top: 20px;
}
.field {
  font-size: 1rem;
  margin-bottom: 10px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.field.metro,
.field .metro {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.field input,
.field input[type="*"],
.field textarea {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 24px 0 0 !important;
  max-width: 100%;
  outline: medium none;
  padding: 0;
  resize: none;
  width: 100%;
  background: #fff;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.09) inset;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.09) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.09) inset;
  color: #333;
}
.field input:last-child {
  margin-right: 0 !important;
}
.field .input {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 1rem;
  height: 36px;
  line-height: 34px;
  padding: 0 10px;
  position: relative;
}
.field .input.search {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  height: 36px;
  line-height: 34px;
  padding-right: 0;
}
.field .input.textarea {
  height: auto;
}
.field .xnarrow {
  width: 13.3333%;
}
.field .narrow {
  width: 30.6667%;
}
.field .normal {
  width: 48%;
}
.field .wide {
  width: 65.3333%;
}
.field .xwide {
  width: 82.6667%;
}
.field .xxwide {
  width: 100%;
}
.field .xnarrow,
.field .narrow,
.field .normal,
.field .wide,
.field .xwide,
.field .xxwide {
  margin: 0;
}
.field .xnarrow:last-child,
.field .narrow:last-child,
.field .normal:last-child,
.field .wide:last-child,
.field .xwide:last-child,
.field .xxwide:last-child {
  margin-left: -4px;
}
.field .xnarrow:first-child,
.field .narrow:first-child,
.field .normal:first-child,
.field .wide:first-child,
.field .xwide:first-child,
.field .xxwide:first-child {
  margin-left: 0;
  margin-right: 3.94%;
}
.field .xnarrow:first-child:last-child,
.field .narrow:first-child:last-child,
.field .normal:first-child:last-child,
.field .wide:first-child:last-child,
.field .xwide:first-child:last-child,
.field .xxwide:first-child:last-child {
  margin: 0;
}
.field label + .xnarrow:last-child,
.field label + .narrow:last-child,
.field label + .normal:last-child,
.field label + .wide:last-child,
.field label + .xwide:last-child,
.field label + .xxwide:last-child {
  margin-left: 0;
}
@media only screen and (max-width: 1120px) {
  .field .xxwide:first-child,
  .field .xxwide:last-child {
    margin-right: 0;
  }
}
.field.prepend,
.field.append {
  font-size: 0;
  padding-bottom: 3.5px;
  white-space: nowrap;
}
.field.prepend input,
.field.prepend .input,
.field.append input,
.field.append .input {
  display: inline-block;
  max-width: 100%;
}
.field.prepend input,
.field.prepend .input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.field.append input,
.field.append .input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.field.prepend.append input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.field.prepend.append input:first-child {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.field.prepend.append input:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: -1px;
}
.field.prepend .adjoined,
.field.append .adjoined,
.field.prepend .btn,
.field.append .btn {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  z-index: 99;
}
.field.prepend .btn a,
.field.prepend .btn input,
.field.prepend .btn button,
.field.append .btn a,
.field.append .btn input,
.field.append .btn button {
  padding: 0 12px;
}
.field.prepend .adjoined,
.field.append .adjoined {
  background: none repeat scroll 0 0 #f2f2f2;
  border: 1px solid #d8d8d8;
  color: #555;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 600;
  height: 36px;
  line-height: 34px;
  padding: 0 10px;
}
.field.prepend *:first-child {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.field.prepend input:first-child {
  margin-right: 0;
}
.field.prepend .adjoined,
.field.prepend .btn {
  margin-right: -1px;
}
.field .adjoined:first-child {
  margin-left: 0 !important;
}
.field.append .adjoined,
.field.append .btn {
  margin-left: -1px;
}
.field.append *:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.field.append button,
.field.prepend button {
  display: inline-block;
}
.field.append input:first-child {
  margin-right: 0;
}
.field.double input,
.field.double .input {
  width: 50% !important;
}
.field.double input:last-child,
.field.double .input:last-child {
  margin-left: -1px;
}
.field.danger:after {
  color: #ca3838;
  content: "✖";
  font-family: "entypo";
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 14%;
  z-index: 999;
}
.field.danger.no-icon:after {
  display: none;
}
.field.danger.append:after,
.field.danger.prepend:after {
  content: "";
}
.field.danger input,
.field.danger .input,
.field.danger textarea,
.field.danger .textarea,
.field.danger .radio span,
.field.danger .checkbox span,
.field.danger .picker {
  background: none repeat scroll 0 0 #f0c5c5;
  border-color: #ca3838;
  color: #ca3838;
  transition-duration: 0.2s;
}
.field.danger textarea {
  color: #ca3838;
}
.field.danger input:-moz-placeholder,
.field.danger textarea:-moz-placeholder {
  color: #ca3838;
}
.field.warning:after {
  color: #f6b83f;
  content: "⚠";
  font-family: "entypo";
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 14%;
  z-index: 999;
}
.field.warning.no-icon:after {
  display: none;
}
.field.warning.append:after,
.field.warning.prepend:after {
  content: "";
}
.field.warning input,
.field.warning .input,
.field.warning textarea,
.field.warning .textarea,
.field.warning .radio span,
.field.warning .checkbox span,
.field.warning .picker {
  background: none repeat scroll 0 0 #fef7ea;
  border-color: #f6b83f;
  color: #f6b83f;
  transition-duration: 0.2s;
}
.field.warning textarea {
  color: #f6b83f;
}
.field.warning input:-moz-placeholder,
.field.warning textarea:-moz-placeholder {
  color: #f6b83f;
}
.field.success:after {
  color: #58c026;
  content: "✓";
  font-family: "entypo";
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 14%;
  z-index: 999;
}
.field.success.no-icon:after {
  display: none;
}
.field.success.append:after,
.field.success.prepend:after {
  content: "";
}
.field.success input,
.field.success .input,
.field.success textarea,
.field.success .textarea,
.field.success .radio span,
.field.success .checkbox span,
.field.success .picker {
  background: none repeat scroll 0 0 #c0eeaa;
  border-color: #58c026;
  color: #58c026;
  transition-duration: 0.2s;
}
.field.success textarea {
  color: #58c026;
}
.field.success input:-moz-placeholder,
.field.success textarea:-moz-placeholder {
  color: #58c026;
}
.field .picker.danger {
  background: none repeat scroll 0 0 #f0c5c5;
  border-color: #ca3838;
  color: #ca3838;
  transition-duration: 0.2s;
}
.field .picker.danger select,
.field .picker.danger:after {
  color: #ca3838;
}
.field .picker.warning {
  background: none repeat scroll 0 0 #fef7ea;
  border-color: #f6b83f;
  color: #f6b83f;
  transition-duration: 0.2s;
}
.field .picker.warning select,
.field .picker.warning:after {
  color: #f6b83f;
}
.field .picker.success {
  background: none repeat scroll 0 0 #c0eeaa;
  border-color: #58c026;
  color: #58c026;
  transition-duration: 0.2s;
}
.field .picker.success select,
.field .picker.success:after {
  color: #58c026;
}
