.flat .plan {
  border-radius: 2px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #F2F1F0;
  text-align: center;
}
.flat .plan li {
  padding: 10px 15px;
  color: #ccc;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.flat .plan li.plan-price {
  border-top: 0;
}
.flat .plan li.plan-name {
  border-radius: 6px 6px 0 0;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #333;
/*  background: #F2F1F0;*/
  margin-bottom: 30px;
  border-top: 0;
}
.flat .plan li > strong {
  color: #e74c3c;
}
.flat .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.flat .plan.featured li.plan-name {
  background: #000;
}
.flat .plan.featured:hover li.plan-name {
/*  background: #c0392b;*/
}
.flat .plan:hover li.plan-name {
/*  background: #000;*/
}
