dummy(col) {
  colors: col;
}
.button,
button {
  display: inline-block;
  padding: 0.4em 0.9em 0.25em;
  padding: 0.5em 1em;
  margin: 1px;
  width: auto;
  font-weight: normal;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  letter-spacing: -0.01em;
  -moz-appearance: button;
  -moz-box-sizing: content-box;
  cursor: pointer;
  outline: none;
  color: #1a1a1a;
  text-shadow: 0 1px #fff;
  border: 1px solid #a2a2a2;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left #e6e6e6, left #d4d4d4, color-stop(0, #e6e6e6), color-stop(1, #d4d4d4));
  background-image: -webkit-linear-gradient(#e6e6e6, #e6e6e6, #d4d4d4);
  background-image: -moz-linear-gradient(#e6e6e6, #e6e6e6, #d4d4d4);
  background-image: -ms-linear-gradient(#e6e6e6, #e6e6e6, #d4d4d4);
  background-image: -o-linear-gradient(#e6e6e6, #e6e6e6, #d4d4d4);
  background-image: linear-gradient(#e6e6e6, #e6e6e6, #d4d4d4);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
}
.button:hover,
button:hover,
.button:focus,
button:focus {
  color: #333;
  border: 1px solid #bbb;
  text-shadow: 0 1px #fff;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left #fff, left #eee, color-stop(0, #fff), color-stop(1, #eee));
  background-image: -webkit-linear-gradient(#fff, #fff, #eee);
  background-image: -moz-linear-gradient(#fff, #fff, #eee);
  background-image: -ms-linear-gradient(#fff, #fff, #eee);
  background-image: -o-linear-gradient(#fff, #fff, #eee);
  background-image: linear-gradient(#fff, #fff, #eee);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
}
.button.primary,
button.primary {
  border: 1px solid #327495;
  text-shadow: 0 1px #cef;
  background-color: #97d0ed;
  background-image: -webkit-gradient(linear, left #97d0ed, left #78bcdd, color-stop(0, #97d0ed), color-stop(1, #78bcdd));
  background-image: -webkit-linear-gradient(#97d0ed, #97d0ed, #78bcdd);
  background-image: -moz-linear-gradient(#97d0ed, #97d0ed, #78bcdd);
  background-image: -ms-linear-gradient(#97d0ed, #97d0ed, #78bcdd);
  background-image: -o-linear-gradient(#97d0ed, #97d0ed, #78bcdd);
  background-image: linear-gradient(#97d0ed, #97d0ed, #78bcdd);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
  -webkit-box-shadow: inset 0 1px 0 #cef;
  -moz-box-shadow: inset 0 1px 0 #cef;
  box-shadow: inset 0 1px 0 #cef;
}
.button.primary:hover,
button.primary:hover,
.button.primary:focus,
button.primary:focus {
  border: 1px solid #327495;
  text-shadow: 0 1px #cef;
  background-color: #c2e4f4;
  background-image: -webkit-gradient(linear, left #c2e4f4, left #a1d0e8, color-stop(0, #c2e4f4), color-stop(1, #a1d0e8));
  background-image: -webkit-linear-gradient(#c2e4f4, #c2e4f4, #a1d0e8);
  background-image: -moz-linear-gradient(#c2e4f4, #c2e4f4, #a1d0e8);
  background-image: -ms-linear-gradient(#c2e4f4, #c2e4f4, #a1d0e8);
  background-image: -o-linear-gradient(#c2e4f4, #c2e4f4, #a1d0e8);
  background-image: linear-gradient(#c2e4f4, #c2e4f4, #a1d0e8);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}
.button.negative,
button.negative {
  border: 1px solid #953a32;
  text-shadow: 0 1px #ffd0cc;
  background-color: #ed9e97;
  background-image: -webkit-gradient(linear, left #ed9e97, left #dd8178, color-stop(0, #ed9e97), color-stop(1, #dd8178));
  background-image: -webkit-linear-gradient(#ed9e97, #ed9e97, #dd8178);
  background-image: -moz-linear-gradient(#ed9e97, #ed9e97, #dd8178);
  background-image: -ms-linear-gradient(#ed9e97, #ed9e97, #dd8178);
  background-image: -o-linear-gradient(#ed9e97, #ed9e97, #dd8178);
  background-image: linear-gradient(#ed9e97, #ed9e97, #dd8178);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
  -webkit-box-shadow: inset 0 1px 0 #ffd0cc;
  -moz-box-shadow: inset 0 1px 0 #ffd0cc;
  box-shadow: inset 0 1px 0 #ffd0cc;
  text-shadow: none;
}
.button.negative:hover,
button.negative:hover,
.button.negative:focus,
button.negative:focus {
  border: 1px solid #953a32;
  text-shadow: 0 1px #ffd0cc;
  background-color: #f4c6c2;
  background-image: -webkit-gradient(linear, left #f4c6c2, left #e8a7a1, color-stop(0, #f4c6c2), color-stop(1, #e8a7a1));
  background-image: -webkit-linear-gradient(#f4c6c2, #f4c6c2, #e8a7a1);
  background-image: -moz-linear-gradient(#f4c6c2, #f4c6c2, #e8a7a1);
  background-image: -ms-linear-gradient(#f4c6c2, #f4c6c2, #e8a7a1);
  background-image: -o-linear-gradient(#f4c6c2, #f4c6c2, #e8a7a1);
  background-image: linear-gradient(#f4c6c2, #f4c6c2, #e8a7a1);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}
.button.positive,
button.positive {
  border: 1px solid #749532;
  text-shadow: 0 1px #efc;
  background-color: #d0ed97;
  background-image: -webkit-gradient(linear, left #d0ed97, left #bcdd78, color-stop(0, #d0ed97), color-stop(1, #bcdd78));
  background-image: -webkit-linear-gradient(#d0ed97, #d0ed97, #bcdd78);
  background-image: -moz-linear-gradient(#d0ed97, #d0ed97, #bcdd78);
  background-image: -ms-linear-gradient(#d0ed97, #d0ed97, #bcdd78);
  background-image: -o-linear-gradient(#d0ed97, #d0ed97, #bcdd78);
  background-image: linear-gradient(#d0ed97, #d0ed97, #bcdd78);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
  -webkit-box-shadow: inset 0 1px 0 #efc;
  -moz-box-shadow: inset 0 1px 0 #efc;
  box-shadow: inset 0 1px 0 #efc;
}
.button.positive:hover,
button.positive:hover,
.button.positive:focus,
button.positive:focus {
  border: 1px solid #639532;
  text-shadow: 0 1px #e6ffcc;
  background-color: #dbf4c2;
  background-image: -webkit-gradient(linear, left #dbf4c2, left #c4e8a1, color-stop(0, #dbf4c2), color-stop(1, #c4e8a1));
  background-image: -webkit-linear-gradient(#dbf4c2, #dbf4c2, #c4e8a1);
  background-image: -moz-linear-gradient(#dbf4c2, #dbf4c2, #c4e8a1);
  background-image: -ms-linear-gradient(#dbf4c2, #dbf4c2, #c4e8a1);
  background-image: -o-linear-gradient(#dbf4c2, #dbf4c2, #c4e8a1);
  background-image: linear-gradient(#dbf4c2, #dbf4c2, #c4e8a1);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}
.button.dark,
button.dark {
  color: rbg(0, 0, 20);
  border: 1px solid #636363;
  text-shadow: 0 1px #e6e6e6;
  background-color: #c2c2c2;
  background-image: -webkit-gradient(linear, left #c2c2c2, left #ababab, color-stop(0, #c2c2c2), color-stop(1, #ababab));
  background-image: -webkit-linear-gradient(#c2c2c2, #c2c2c2, #ababab);
  background-image: -moz-linear-gradient(#c2c2c2, #c2c2c2, #ababab);
  background-image: -ms-linear-gradient(#c2c2c2, #c2c2c2, #ababab);
  background-image: -o-linear-gradient(#c2c2c2, #c2c2c2, #ababab);
  background-image: linear-gradient(#c2c2c2, #c2c2c2, #ababab);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
  -webkit-box-shadow: inset 0 1px 0 #e6e6e6;
  -moz-box-shadow: inset 0 1px 0 #e6e6e6;
  box-shadow: inset 0 1px 0 #e6e6e6;
}
.button.dark:hover,
button.dark:hover,
.button.dark:focus,
button.dark:focus {
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left #dbdbdb, left #c4c4c4, color-stop(0, #dbdbdb), color-stop(1, #c4c4c4));
  background-image: -webkit-linear-gradient(#dbdbdb, #dbdbdb, #c4c4c4);
  background-image: -moz-linear-gradient(#dbdbdb, #dbdbdb, #c4c4c4);
  background-image: -ms-linear-gradient(#dbdbdb, #dbdbdb, #c4c4c4);
  background-image: -o-linear-gradient(#dbdbdb, #dbdbdb, #c4c4c4);
  background-image: linear-gradient(#dbdbdb, #dbdbdb, #c4c4c4);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
}
.button.left,
button.left {
  -webkit-border-radius: 0.3em 0 0 0.3em;
  -moz-border-radius: 0.3em 0 0 0.3em;
  border-radius: 0.3em 0 0 0.3em;
  margin-right: -4px !important;
  border-right: none;
}
.button.middle,
button.middle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: 0;
  margin-right: -4px;
  border-right: none;
}
.button.right,
button.right {
  -webkit-border-radius: 0 0.3em 0.3em 0;
  -moz-border-radius: 0 0.3em 0.3em 0;
  border-radius: 0 0.3em 0.3em 0;
  margin-left: 0 !important;
}
.button.pill,
button.pill {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  padding-left: 0.9em;
  padding-right: 0.9em;
}
.button.disabled,
button.disabled,
.button[disabled],
button[disabled] {
  background-image: none !important;
  filter: none !important;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: "alpha(opacity=50)";
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default;
}
.button.success,
button.success {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left #7fbf4d, left #63a62f, color-stop(0, #7fbf4d), color-stop(1, #63a62f));
  background-image: -webkit-linear-gradient(#7fbf4d, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(#7fbf4d, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(#7fbf4d, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(#7fbf4d, #7fbf4d, #63a62f);
  background-image: linear-gradient(#7fbf4d, #7fbf4d, #63a62f);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
  border-color: #63a62f #63a62f #5b992b;
  border-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0 1px 0 0 #96ca6d inset;
  -moz-box-shadow: 0 1px 0 0 #96ca6d inset;
  box-shadow: 0 1px 0 0 #96ca6d inset;
  color: #fff;
  margin-right: 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
}
.button.success:hover,
button.success:hover {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left #76b347, left #5e9e2e, color-stop(0, #76b347), color-stop(1, #5e9e2e));
  background-image: -webkit-linear-gradient(#76b347, #76b347, #5e9e2e);
  background-image: -moz-linear-gradient(#76b347, #76b347, #5e9e2e);
  background-image: -ms-linear-gradient(#76b347, #76b347, #5e9e2e);
  background-image: -o-linear-gradient(#76b347, #76b347, #5e9e2e);
  background-image: linear-gradient(#76b347, #76b347, #5e9e2e);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
  -webkit-box-shadow: 0 1px 0 0 #8dbf67 inset;
  -moz-box-shadow: 0 1px 0 0 #8dbf67 inset;
  box-shadow: 0 1px 0 0 #8dbf67 inset;
  cursor: pointer;
}
.button.success:active,
button.success:active {
  border-color: #5b992b #5b992b #538c27;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0 0 8px 4px #548c29 inset;
  -moz-box-shadow: 0 0 8px 4px #548c29 inset;
  box-shadow: 0 0 8px 4px #548c29 inset;
}
