#nav {
  width: 100%;
  margin: 0;
  padding: 0;
}
#nav > a {
  display: none;
}
#nav li {
  position: relative;
  margin: 0;
}
#nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 15px;
}
#nav li a:active {
  background-color: #c00 !important;
}
#nav a.dropdown {
  position: relative;
}
#nav a.dropdown:after {
  width: 0;
  height: 0;
  top: 45%;
  right: 3%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  border-color: rgba(213,202,196,0);
  border-top-color: #efa585;
  border-width: 9px;
  margin-left: -30px;
}
#nav > ul {
  padding-left: 1%;
  height: 3.75em;
  background-color: #e15a1f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#nav > ul > li {
  width: 24.67%;
  height: 100%;
  float: left;
  margin: 0;
}
#nav > ul > li > a {
  height: 100%;
  font-size: 1.5rem;
  line-height: 2.5;
  text-align: center;
}
#nav > ul > li:not(:last-child ) > a {
  border-right: 1px solid #cc470d;
}
#nav > ul > li:hover > a,
#nav > ul:not(:hover ) > li.active > a {
  background-color: #cc470d;
}
#nav li ul {
  background-color: #cc470d;
  display: none;
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  z-index: 1000;
}
#nav li ul a {
  font-size: 1.25em szraQZXW;
  border-top: 1px solid #e15a1f;
  padding: 0.75em;
  padding-left: 2em;
}
#nav li ul a:hover,
#nav li ul a.active {
  background-color: #e15a1f;
}
#nav li:hover ul {
  display: block;
  left: 0;
  right: 0;
}
#nav li:not(:first-child):hover ul {
  left: -1px;
}
#nav li ul li:last-child a:hover {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
@media only screen and ( max-width: 62.5em ) /* 1000 */ {
  #nav {
    width: 100%;
    position: static;
    margin: 0;
  }
}
@media only screen and ( max-width: 40em ) /* 640 */ {
  html {
    font-size: 75%;
/* 12 */
  }
  #nav {
    position: relative;
    top: auto;
    left: auto;
  }
  #nav > a {
    width: 3.125em;
    height: 3.125em;
    text-align: left;
    text-indent: -9999px;
    background-color: #e15a1f;
    position: relative;
  }
  #nav > a:after {
    top: 60%;
  }
  #nav > a:before,
  #nav > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
  }
  #nav:not( :target ) > a:first-of-type,
  #nav:target > a:last-of-type {
    display: block;
  }
  #nav > ul {
    height: auto;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
  #nav > ul > li {
    width: 100%;
    float: none;
  }
  #nav > ul > li > a {
    height: auto;
    text-align: left;
    padding: 0 0.833em;
  }
  #nav:target > ul {
    display: block;
  }
  #nav > ul > li:not( :last-child ) > a {
    border-right: none;
    border-bottom: 1px solid #cc470d;
  }
  #nav li ul {
    position: static;
    padding: 1.25em;
    padding-top: 0;
  }
}
