
#circular3dG{
position:relative;
width:24px;
height:24px;
}

.circular3dG{
position:absolute;
background-color:#000000;
width:7px;
height:7px;
-moz-border-radius:7px;
-moz-animation-name:bounce_circular3dG;
-moz-animation-duration:1.1199999999999999s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:7px;
-webkit-animation-name:bounce_circular3dG;
-webkit-animation-duration:1.1199999999999999s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:7px;
-ms-animation-name:bounce_circular3dG;
-ms-animation-duration:1.1199999999999999s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:7px;
-o-animation-name:bounce_circular3dG;
-o-animation-duration:1.1199999999999999s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:7px;
animation-name:bounce_circular3dG;
animation-duration:1.1199999999999999s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circular3d_1G{
left:10px;
top:2px;
-moz-animation-delay:0.41999999999999993s;
-webkit-animation-delay:0.41999999999999993s;
-ms-animation-delay:0.41999999999999993s;
-o-animation-delay:0.41999999999999993s;
animation-delay:0.41999999999999993s;
}

#circular3d_2G{
left:15px;
top:6px;
-moz-animation-delay:0.5599999999999999s;
-webkit-animation-delay:0.5599999999999999s;
-ms-animation-delay:0.5599999999999999s;
-o-animation-delay:0.5599999999999999s;
animation-delay:0.5599999999999999s;
}

#circular3d_3G{
left:18px;
top:11px;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#circular3d_4G{
left:17px;
top:16px;
-moz-animation-delay:0.8399999999999999s;
-webkit-animation-delay:0.8399999999999999s;
-ms-animation-delay:0.8399999999999999s;
-o-animation-delay:0.8399999999999999s;
animation-delay:0.8399999999999999s;
}

#circular3d_5G{
left:10px;
top:18px;
-moz-animation-delay:0.9799999999999999s;
-webkit-animation-delay:0.9799999999999999s;
-ms-animation-delay:0.9799999999999999s;
-o-animation-delay:0.9799999999999999s;
animation-delay:0.9799999999999999s;
}

#circular3d_6G{
left:2px;
top:12px;
-moz-animation-delay:1.1199999999999999s;
-webkit-animation-delay:1.1199999999999999s;
-ms-animation-delay:1.1199999999999999s;
-o-animation-delay:1.1199999999999999s;
animation-delay:1.1199999999999999s;
}

#circular3d_7G{
left:0px;
top:3px;
-moz-animation-delay:1.26s;
-webkit-animation-delay:1.26s;
-ms-animation-delay:1.26s;
-o-animation-delay:1.26s;
animation-delay:1.26s;
}

#circular3d_8G{
left:4px;
top:0px;
-moz-animation-delay:1.4s;
-webkit-animation-delay:1.4s;
-ms-animation-delay:1.4s;
-o-animation-delay:1.4s;
animation-delay:1.4s;
}

@-moz-keyframes bounce_circular3dG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circular3dG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circular3dG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circular3dG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circular3dG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

/*
<div id="circular3dG">
<div id="circular3d_1G" class="circular3dG">
</div>
<div id="circular3d_2G" class="circular3dG">
</div>
<div id="circular3d_3G" class="circular3dG">
</div>
<div id="circular3d_4G" class="circular3dG">
</div>
<div id="circular3d_5G" class="circular3dG">
</div>
<div id="circular3d_6G" class="circular3dG">
</div>
<div id="circular3d_7G" class="circular3dG">
</div>
<div id="circular3d_8G" class="circular3dG">
</div>
</div>
- See more at: http://cssload.net/#sthash.onI5ouPR.dpuf*/ 