/*
  Icon Font: rudra
  Designer Shiksha 
  Font licenced under  SIL Open Font License (OFL) but  acknowledgements are appreciated
  CSS under MIT
*/

@font-face {
  font-family: "rudra";
  src: url("./rudra_6d5d5403fc5285c7c04c1db14d9de826.eot");
  src: url("./rudra_6d5d5403fc5285c7c04c1db14d9de826.eot?#iefix") format("embedded-opentype"),
       url("./rudra_6d5d5403fc5285c7c04c1db14d9de826.woff") format("woff"),
       url("./rudra_6d5d5403fc5285c7c04c1db14d9de826.ttf") format("truetype"),
       url("./rudra_6d5d5403fc5285c7c04c1db14d9de826.svg#rudra") format("svg");
  font-weight: normal;
  font-style: normal;
}



[class*="i-"]    
{
  font-family: "rudra";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  text-decoration: inherit;
}

.i-Adjustment:before { content: "\f100"; }
.i-Align-center:before { content: "\f101"; }
.i-Align-justify:before { content: "\f102"; }
.i-Align-right:before { content: "\f103"; }
.i-Ambulence:before { content: "\f104"; }
.i-android:before { content: "\f105"; }
.i-archieve:before { content: "\f106"; }
.i-arrow-double-down:before { content: "\f107"; }
.i-arrow-double-left:before { content: "\f108"; }
.i-arrow-double-right:before { content: "\f109"; }
.i-arrow-double-up:before { content: "\f10a"; }
.i-arrow-down-circle:before { content: "\f10b"; }
.i-arrow-down-left-circle:before { content: "\f10c"; }
.i-arrow-down-left:before { content: "\f10d"; }
.i-arrow-down-right-circle:before { content: "\f10e"; }
.i-arrow-down-right:before { content: "\f10f"; }
.i-arrow-down:before { content: "\f110"; }
.i-arrow-four-alt:before { content: "\f111"; }
.i-arrow-four-alt1:before { content: "\f112"; }
.i-arrow-h:before { content: "\f113"; }
.i-arrow-left-circle:before { content: "\f114"; }
.i-arrow-left:before { content: "\f115"; }
.i-arrow-right-circle:before { content: "\f116"; }
.i-arrow-right:before { content: "\f117"; }
.i-arrow-top-left-circle:before { content: "\f118"; }
.i-arrow-top-left:before { content: "\f119"; }
.i-arrow-top-right-circle:before { content: "\f11a"; }
.i-arrow-top-right:before { content: "\f11b"; }
.i-arrow-up-circle:before { content: "\f11c"; }
.i-arrow-up:before { content: "\f11d"; }
.i-arrow-v:before { content: "\f11e"; }
.i-arrows-four-alt:before { content: "\f11f"; }
.i-arrows-four:before { content: "\f120"; }
.i-asterisk:before { content: "\f121"; }
.i-backward:before { content: "\f122"; }
.i-banned-1:before { content: "\f123"; }
.i-bar-chart:before { content: "\f124"; }
.i-barcode-alt:before { content: "\f125"; }
.i-barcode:before { content: "\f126"; }
.i-barcode1:before { content: "\f127"; }
.i-bars:before { content: "\f128"; }
.i-bars1:before { content: "\f129"; }
.i-battery:before { content: "\f12a"; }
.i-battery1:before { content: "\f12b"; }
.i-battery2:before { content: "\f12c"; }
.i-battery3:before { content: "\f12d"; }
.i-beer-mug:before { content: "\f12e"; }
.i-bell:before { content: "\f12f"; }
.i-bit-bucket-blk:before { content: "\f130"; }
.i-bit-bucket:before { content: "\f131"; }
.i-bold:before { content: "\f132"; }
.i-bolt:before { content: "\f133"; }
.i-book:before { content: "\f134"; }
.i-box-alt:before { content: "\f135"; }
.i-box:before { content: "\f136"; }
.i-briefcase:before { content: "\f137"; }
.i-broken-chain:before { content: "\f138"; }
.i-bug:before { content: "\f139"; }
.i-building-new:before { content: "\f13a"; }
.i-building:before { content: "\f13b"; }
.i-building1:before { content: "\f13c"; }
.i-bulb-alt:before { content: "\f13d"; }
.i-bulb-o:before { content: "\f13e"; }
.i-bull-eye:before { content: "\f13f"; }
.i-Bull-horn:before { content: "\f140"; }
.i-business-profile:before { content: "\f141"; }
.i-calander-alt:before { content: "\f142"; }
.i-calander:before { content: "\f143"; }
.i-camera:before { content: "\f144"; }
.i-caret-down:before { content: "\f145"; }
.i-caret-left:before { content: "\f146"; }
.i-caret-right:before { content: "\f147"; }
.i-caret-square-down:before { content: "\f148"; }
.i-caret-square-left:before { content: "\f149"; }
.i-caret-square-right:before { content: "\f14a"; }
.i-caret-square-up:before { content: "\f14b"; }
.i-caret-up:before { content: "\f14c"; }
.i-certificate:before { content: "\f14d"; }
.i-certificate1:before { content: "\f14e"; }
.i-certificate3:before { content: "\f14f"; }
.i-check-circle-o:before { content: "\f150"; }
.i-check-circle:before { content: "\f151"; }
.i-check-square-o:before { content: "\f152"; }
.i-check-square:before { content: "\f153"; }
.i-chevron-circle-down:before { content: "\f154"; }
.i-chevron-circle-right:before { content: "\f155"; }
.i-chevron-circle-up:before { content: "\f156"; }
.i-chevron-circleleft:before { content: "\f157"; }
.i-chevron-down:before { content: "\f158"; }
.i-chevron-left:before { content: "\f159"; }
.i-chevron-right:before { content: "\f15a"; }
.i-chevron-up:before { content: "\f15b"; }
.i-circle-o:before { content: "\f15c"; }
.i-circle:before { content: "\f15d"; }
.i-clipboard:before { content: "\f15e"; }
.i-clock-alt:before { content: "\f15f"; }
.i-clock:before { content: "\f160"; }
.i-close-circle-o:before { content: "\f161"; }
.i-close-circle:before { content: "\f162"; }
.i-close-square-o:before { content: "\f163"; }
.i-close-square:before { content: "\f164"; }
.i-close:before { content: "\f165"; }
.i-cloud-download:before { content: "\f166"; }
.i-cloud-upload:before { content: "\f167"; }
.i-cloud:before { content: "\f168"; }
.i-cofee:before { content: "\f169"; }
.i-cog-1:before { content: "\f16a"; }
.i-cog-2:before { content: "\f16b"; }
.i-cog-3:before { content: "\f16c"; }
.i-cog-4:before { content: "\f16d"; }
.i-cog-5:before { content: "\f16e"; }
.i-cogs:before { content: "\f16f"; }
.i-coin:before { content: "\f170"; }
.i-comment-o:before { content: "\f171"; }
.i-comment:before { content: "\f172"; }
.i-comments:before { content: "\f173"; }
.i-compass:before { content: "\f174"; }
.i-compress:before { content: "\f175"; }
.i-credit-card:before { content: "\f176"; }
.i-crop:before { content: "\f177"; }
.i-cup:before { content: "\f178"; }
.i-cutlery:before { content: "\f179"; }
.i-dashboard-alt:before { content: "\f17a"; }
.i-dashboard:before { content: "\f17b"; }
.i-desktop:before { content: "\f17c"; }
.i-dot-circle:before { content: "\f17d"; }
.i-double-arrow-down:before { content: "\f17e"; }
.i-double-arrow-left:before { content: "\f17f"; }
.i-double-arrow-right:before { content: "\f180"; }
.i-double-arrow-top:before { content: "\f181"; }
.i-download:before { content: "\f182"; }
.i-edit:before { content: "\f183"; }
.i-elipsis-h:before { content: "\f184"; }
.i-elipsis-v:before { content: "\f185"; }
.i-email-alt:before { content: "\f186"; }
.i-email-circle:before { content: "\f187"; }
.i-email-square-alt:before { content: "\f188"; }
.i-email-square:before { content: "\f189"; }
.i-email:before { content: "\f18a"; }
.i-enevelop:before { content: "\f18b"; }
.i-eraser:before { content: "\f18c"; }
.i-exchange:before { content: "\f18d"; }
.i-exclamation-alt:before { content: "\f18e"; }
.i-exclamation-circle-ALT:before { content: "\f18f"; }
.i-exclamation-circle:before { content: "\f190"; }
.i-exclamation-square:before { content: "\f191"; }
.i-exclamation-triangle-alt:before { content: "\f192"; }
.i-exclamation-triangle:before { content: "\f193"; }
.i-exclamation:before { content: "\f194"; }
.i-expand:before { content: "\f195"; }
.i-external-link-square:before { content: "\f196"; }
.i-external-link:before { content: "\f197"; }
.i-eye-alt:before { content: "\f198"; }
.i-eye-blocked-alt:before { content: "\f199"; }
.i-eye-blocked:before { content: "\f19a"; }
.i-eye:before { content: "\f19b"; }
.i-face-angry-o:before { content: "\f19c"; }
.i-face-angry:before { content: "\f19d"; }
.i-face-sad-1:before { content: "\f19e"; }
.i-face-sad-alt:before { content: "\f19f"; }
.i-face-sad:before { content: "\f1a0"; }
.i-face-sad1:before { content: "\f1a1"; }
.i-face-smile-O:before { content: "\f1a2"; }
.i-face-smile:before { content: "\f1a3"; }
.i-facebook:before { content: "\f1a4"; }
.i-fast-backward:before { content: "\f1a5"; }
.i-fast-forward:before { content: "\f1a6"; }
.i-favourite-1:before { content: "\f1a7"; }
.i-favourite-alt:before { content: "\f1a8"; }
.i-favourite-o:before { content: "\f1a9"; }
.i-favourite:before { content: "\f1aa"; }
.i-female:before { content: "\f1ab"; }
.i-file-o:before { content: "\f1ac"; }
.i-file-text-o:before { content: "\f1ad"; }
.i-file-text:before { content: "\f1ae"; }
.i-file:before { content: "\f1af"; }
.i-film:before { content: "\f1b0"; }
.i-fire-extinguisher:before { content: "\f1b1"; }
.i-fire:before { content: "\f1b2"; }
.i-flag-alt:before { content: "\f1b3"; }
.i-flag-design-alt:before { content: "\f1b4"; }
.i-flag-design:before { content: "\f1b5"; }
.i-flag-o-alt:before { content: "\f1b6"; }
.i-flag-o:before { content: "\f1b7"; }
.i-flag:before { content: "\f1b8"; }
.i-flask:before { content: "\f1b9"; }
.i-floppy:before { content: "\f1ba"; }
.i-folder-close:before { content: "\f1bb"; }
.i-folder-open:before { content: "\f1bc"; }
.i-folder:before { content: "\f1bd"; }
.i-forward:before { content: "\f1be"; }
.i-funnel:before { content: "\f1bf"; }
.i-gamepad:before { content: "\f1c0"; }
.i-gear:before { content: "\f1c1"; }
.i-gears:before { content: "\f1c2"; }
.i-gift-box-1:before { content: "\f1c3"; }
.i-gift-box:before { content: "\f1c4"; }
.i-glass:before { content: "\f1c5"; }
.i-google-mark:before { content: "\f1c6"; }
.i-hammer:before { content: "\f1c7"; }
.i-hand-down:before { content: "\f1c8"; }
.i-hand-left:before { content: "\f1c9"; }
.i-hand-right:before { content: "\f1ca"; }
.i-hand-up:before { content: "\f1cb"; }
.i-headphone-alt:before { content: "\f1cc"; }
.i-headphone:before { content: "\f1cd"; }
.i-heart-1:before { content: "\f1ce"; }
.i-heart-o:before { content: "\f1cf"; }
.i-heart:before { content: "\f1d0"; }
.i-home-1:before { content: "\f1d1"; }
.i-home-2:before { content: "\f1d2"; }
.i-home-3:before { content: "\f1d3"; }
.i-home-64:before { content: "\f1d4"; }
.i-home-alt:before { content: "\f1d5"; }
.i-inbox-alt:before { content: "\f1d6"; }
.i-inbox:before { content: "\f1d7"; }
.i-indent:before { content: "\f1d8"; }
.i-info-circle:before { content: "\f1d9"; }
.i-info-square:before { content: "\f1da"; }
.i-info:before { content: "\f1db"; }
.i-italic:before { content: "\f1dc"; }
.i-jpeg-1:before { content: "\f1dd"; }
.i-jpeg:before { content: "\f1de"; }
.i-key:before { content: "\f1df"; }
.i-keyboard:before { content: "\f1e0"; }
.i-laptop:before { content: "\f1e1"; }
.i-legal:before { content: "\f1e2"; }
.i-leve-1l:before { content: "\f1e3"; }
.i-level-2:before { content: "\f1e4"; }
.i-level-3:before { content: "\f1e5"; }
.i-level-down:before { content: "\f1e6"; }
.i-level-up:before { content: "\f1e7"; }
.i-level:before { content: "\f1e8"; }
.i-library:before { content: "\f1e9"; }
.i-link:before { content: "\f1ea"; }
.i-list-alt:before { content: "\f1eb"; }
.i-list-ol:before { content: "\f1ec"; }
.i-list-ul:before { content: "\f1ed"; }
.i-list:before { content: "\f1ee"; }
.i-lock-open:before { content: "\f1ef"; }
.i-lock:before { content: "\f1f0"; }
.i-long-arrow-down:before { content: "\f1f1"; }
.i-long-arrow-left:before { content: "\f1f2"; }
.i-long-arrow-right:before { content: "\f1f3"; }
.i-long-arrow-up:before { content: "\f1f4"; }
.i-m:before { content: "\f1f5"; }
.i-magic-wand:before { content: "\f1f6"; }
.i-magic-wand1:before { content: "\f1f7"; }
.i-magnet-alt:before { content: "\f1f8"; }
.i-male:before { content: "\f1f9"; }
.i-mark-up:before { content: "\f1fa"; }
.i-microfone:before { content: "\f1fb"; }
.i-microphone-mute:before { content: "\f1fc"; }
.i-minus-circle:before { content: "\f1fd"; }
.i-minus-square:before { content: "\f1fe"; }
.i-minus:before { content: "\f1ff"; }
.i-money-alt:before { content: "\f200"; }
.i-money-bag-alt:before { content: "\f201"; }
.i-money-bag:before { content: "\f202"; }
.i-money:before { content: "\f203"; }
.i-monitor:before { content: "\f204"; }
.i-moon-o:before { content: "\f205"; }
.i-moon:before { content: "\f206"; }
.i-music:before { content: "\f207"; }
.i-next-double-arrow:before { content: "\f208"; }
.i-outdent:before { content: "\f209"; }
.i-paperclip:before { content: "\f20a"; }
.i-pause:before { content: "\f20b"; }
.i-Pen:before { content: "\f20c"; }
.i-pencil-square:before { content: "\f20d"; }
.i-pencil:before { content: "\f20e"; }
.i-phone-1:before { content: "\f20f"; }
.i-phone-banned:before { content: "\f210"; }
.i-phone-banned1:before { content: "\f211"; }
.i-phone:before { content: "\f212"; }
.i-pie-chrt:before { content: "\f213"; }
.i-play:before { content: "\f214"; }
.i-plus-circle:before { content: "\f215"; }
.i-plus-suare:before { content: "\f216"; }
.i-plus:before { content: "\f217"; }
.i-power:before { content: "\f218"; }
.i-printer:before { content: "\f219"; }
.i-quote-left:before { content: "\f21a"; }
.i-quote-right:before { content: "\f21b"; }
.i-repeat-alt:before { content: "\f21c"; }
.i-repeat:before { content: "\f21d"; }
.i-road:before { content: "\f21e"; }
.i-rupee:before { content: "\f21f"; }
.i-search-minus:before { content: "\f220"; }
.i-search-plus:before { content: "\f221"; }
.i-search:before { content: "\f222"; }
.i-shield-64:before { content: "\f223"; }
.i-shocked-alt:before { content: "\f224"; }
.i-shocked-o:before { content: "\f225"; }
.i-shocked:before { content: "\f226"; }
.i-shopping-cart:before { content: "\f227"; }
.i-sign-in:before { content: "\f228"; }
.i-sign-out:before { content: "\f229"; }
.i-signal:before { content: "\f22a"; }
.i-sort:before { content: "\f22b"; }
.i-spiner-alt:before { content: "\f22c"; }
.i-spiner:before { content: "\f22d"; }
.i-square-o:before { content: "\f22e"; }
.i-square:before { content: "\f22f"; }
.i-step-backward:before { content: "\f230"; }
.i-step-forward:before { content: "\f231"; }
.i-sticky-tilt:before { content: "\f232"; }
.i-sticky:before { content: "\f233"; }
.i-stop:before { content: "\f234"; }
.i-sun:before { content: "\f235"; }
.i-table-alt:before { content: "\f236"; }
.i-table:before { content: "\f237"; }
.i-tablet:before { content: "\f238"; }
.i-tag-alt:before { content: "\f239"; }
.i-tag-cut:before { content: "\f23a"; }
.i-tags-alt:before { content: "\f23b"; }
.i-tags:before { content: "\f23c"; }
.i-terminal:before { content: "\f23d"; }
.i-text-height:before { content: "\f23e"; }
.i-text-width:before { content: "\f23f"; }
.i-th-big:before { content: "\f240"; }
.i-th:before { content: "\f241"; }
.i-thums-down:before { content: "\f242"; }
.i-thumsup:before { content: "\f243"; }
.i-tick-alt:before { content: "\f244"; }
.i-tick:before { content: "\f245"; }
.i-traffic-signal:before { content: "\f246"; }
.i-trash:before { content: "\f247"; }
.i-tree2:before { content: "\f248"; }
.i-trophy-64:before { content: "\f249"; }
.i-twitter:before { content: "\f24a"; }
.i-undo:before { content: "\f24b"; }
.i-upload:before { content: "\f24c"; }
.i-user-profile:before { content: "\f24d"; }
.i-vehical:before { content: "\f24e"; }
.i-video-camera:before { content: "\f24f"; }
.i-wernch:before { content: "\f250"; }
.i-wrench:before { content: "\f251"; }
.i-youtube-play:before { content: "\f252"; }
.i-apple-alt:before { content: "\f253"; }
.i-apple:before { content: "\f254"; }
.i-behance-alt:before { content: "\f255"; }
.i-behance:before { content: "\f256"; }
.i-bing-alt:before { content: "\f257"; }
.i-bing:before { content: "\f258"; }
.i-blogger-alt:before { content: "\f259"; }
.i-blogger:before { content: "\f25a"; }
.i-cam-alt:before { content: "\f25b"; }
.i-cam:before { content: "\f25c"; }
.i-deviantar-altt:before { content: "\f25d"; }
.i-deviantart:before { content: "\f25e"; }
.i-digg-alt:before { content: "\f25f"; }
.i-digg:before { content: "\f260"; }
.i-dribble-alt:before { content: "\f261"; }
.i-dribble:before { content: "\f262"; }
.i-dropbox-alt:before { content: "\f263"; }
.i-dropbox:before { content: "\f264"; }
.i-ebay-alt:before { content: "\f265"; }
.i-ebay:before { content: "\f266"; }
.i-evernote-alt:before { content: "\f267"; }
.i-evernote:before { content: "\f268"; }
.i-facebook-2:before { content: "\f269"; }
.i-facebook-alt-1:before { content: "\f26a"; }
.i-facebook-alt-o:before { content: "\f26b"; }
.i-facebook-alt:before { content: "\f26c"; }
.i-facebook:before { content: "\f26d"; }
.i-flicker-alt:before { content: "\f26e"; }
.i-flicker:before { content: "\f26f"; }
.i-githhub-alt:before { content: "\f270"; }
.i-githhub:before { content: "\f271"; }
.i-googleplus-alt:before { content: "\f272"; }
.i-googleplus:before { content: "\f273"; }
.i-linkedin-2:before { content: "\f274"; }
.i-linkedin-alt-1:before { content: "\f275"; }
.i-linkedin-alt:before { content: "\f276"; }
.i-linkedin:before { content: "\f277"; }
.i-linux-alt:before { content: "\f278"; }
.i-linux:before { content: "\f279"; }
.i-maxcdn-alt:before { content: "\f27a"; }
.i-maxcdn:before { content: "\f27b"; }
.i-o-alt:before { content: "\f27c"; }
.i-o:before { content: "\f27d"; }
.i-paypal-alt:before { content: "\f27e"; }
.i-paypal:before { content: "\f27f"; }
.i-picassa-alt:before { content: "\f280"; }
.i-picassa:before { content: "\f281"; }
.i-pintrest-alt:before { content: "\f282"; }
.i-pintrest:before { content: "\f283"; }
.i-rss-alt:before { content: "\f284"; }
.i-rss:before { content: "\f285"; }
.i-skype-alt:before { content: "\f286"; }
.i-skype:before { content: "\f287"; }
.i-su-alt:before { content: "\f288"; }
.i-su:before { content: "\f289"; }
.i-tumbler-alt:before { content: "\f28a"; }
.i-tumbler:before { content: "\f28b"; }
.i-twitter-1-alt:before { content: "\f28c"; }
.i-twitter-1:before { content: "\f28d"; }
.i-twitter-alt:before { content: "\f28e"; }
.i-twitter:before { content: "\f28f"; }
.i-vimeo-alt:before { content: "\f290"; }
.i-vimeo:before { content: "\f291"; }
.i-watsapp-alt:before { content: "\f292"; }
.i-watsapp:before { content: "\f293"; }
.i-wikipedia-alt:before { content: "\f294"; }
.i-wikipedia:before { content: "\f295"; }
.i-windows-8-alt:before { content: "\f296"; }
.i-windows-8:before { content: "\f297"; }
.i-wordpress-1:before { content: "\f298"; }
.i-wordpress-2:before { content: "\f299"; }
.i-wordpress-alt:before { content: "\f29a"; }
.i-wordpress:before { content: "\f29b"; }
.i-yahoo-alt:before { content: "\f29c"; }
.i-yahoo:before { content: "\f29d"; }
.i-youtube-alt:before { content: "\f29e"; }
.i-youtube-play-alt:before { content: "\f29f"; }
.i-youtube-play:before { content: "\f2a0"; }
.i-youtube:before { content: "\f2a1"; }
.i-doller:before { content: "\f2a2"; }
.i-eur:before { content: "\f2a3"; }
.i-gph:before { content: "\f2a4"; }
.i-jpy:before { content: "\f2a5"; }
.i-os2:before { content: "\f2a6"; }
.i-rupee-alt:before { content: "\f2a7"; }
.i-basket-cancel:before { content: "\f2a8"; }
.i-basket-plus:before { content: "\f2a9"; }
.i-basket:before { content: "\f2aa"; }
.i-discoun-altt:before { content: "\f2ab"; }
.i-discount:before { content: "\f2ac"; }
.i-sale-alt:before { content: "\f2ad"; }
.i-sale:before { content: "\f2ae"; }
.i-shoping-bag-16:before { content: "\f2af"; }
.i-shoping-bag-dollar16:before { content: "\f2b0"; }
.i-shoping-bag:before { content: "\f2b1"; }
.i-shoping-bags-1-16:before { content: "\f2b2"; }
.i-shoping-bags-16:before { content: "\f2b3"; }
.i-shoping-basket-16:before { content: "\f2b4"; }
.i-shoping-cart-16:before { content: "\f2b5"; }
.i-shoping-cart-alt16:before { content: "\f2b6"; }
.i-shoping-cart-cross16:before { content: "\f2b7"; }
.i-shoping-cart-delete:before { content: "\f2b8"; }
.i-shoping-cart-fill16:before { content: "\f2b9"; }
.i-shoping-cart-plus:before { content: "\f2ba"; }
.i-shoping-cart-plus16:before { content: "\f2bb"; }
.i-shoping-cart:before { content: "\f2bc"; }
.i-tag-discount:before { content: "\f2bd"; }
.i-tag:before { content: "\f2be"; }
.i-vehical:before { content: "\f2bf"; }
